HelloWorldBranch/obj/project.assets.json
HelloWorldBranch/obj/project.nuget.cache
HelloWorldBranch/obj/HelloWorldBranch.csproj.nuget.g.targets
HelloWorldBranch/obj/HelloWorldBranch.csproj.nuget.g.props
HelloWorldBranch/obj/HelloWorldBranch.csproj.nuget.dgspec.json
*.json
bin/
obj/